g > text {
  cursor: pointer;
  pointer-events: none;
}

.selectedbox {
  display: flex;
  flex-direction: row;
}
.selectedbox > p {
  margin-bottom: 0.5rem !important;
}
.flexColumnFlexEndAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.desknumberbox > p {
  color: white;
  margin-bottom: 0px;
  font-size: 18px;
}
.desknumberbox {
  background-color: #02305a;
  height: 38px;
  width: 100px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.switch-multi-button {
  color: white !important;
  background-color: lightgray !important;
}
.floorBtn {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 4px;
  color: white;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.floorBtn.selected {
  background-color: #02305a !important;
  color: white;
}

.desk {
  background-color: white;
  height: 50px;
  width: 80px;
  margin: 4px;
}

.occupied {
  fill: #f0869f;
}

.selected {
  fill: #02305a;
}

.free {
  fill: #9df05d;
}

.free:hover {
  stroke-width: 2;
  stroke: #02305a;
  cursor: pointer;
}
.occupied:hover {
  cursor: pointer;
}
.cls-2 {
  fill: #424242;
}

.cls-1 {
  fill: #fff;
}
.cls-2 {
  fill: #424242;
}
.cls-3 {
  fill: none;
}

.cls-23,
.cls-7 {
  font-size: 12px;
}
.cls-7 {
  fill: #353535;
}
.cls-23,
.cls-7,
.cls-8 {
  font-family: MyriadPro-Regular, sans-serif;
}
.cls-8 {
  font-size: 13px;
}
.cls-9 {
  letter-spacing: -0.08em;
}
.cls-10 {
  letter-spacing: -0.03em;
}
.cls-11 {
  letter-spacing: 0.01em;
}
.cls-12 {
  letter-spacing: 0;
}
.cls-13 {
  letter-spacing: -0.04em;
}
.cls-14 {
  letter-spacing: 0.03em;
}
.cls-15 {
  letter-spacing: -0.04em;
}
.cls-17 {
  letter-spacing: 0.01em;
}
.cls-18 {
  letter-spacing: -0.08em;
}
.cls-19 {
  letter-spacing: 0.03em;
}
.cls-20 {
  letter-spacing: -0.08em;
}
.cls-21 {
  letter-spacing: -0.05em;
}
.cls-22 {
  letter-spacing: -0.06em;
}
.wall {
  fill: #424242;
}

.room {
  fill: white;
}

.cls-3 {
  fill: none;
}

.circle {
  fill: #0d6efd;
}

.owncircle {
  fill: #02305a;
}
.numberings,
.roomlabelsmaller {
  font-size: 12px;
}
.numberings,
.roomlabelsmaller,
.roomlabel {
  fill: #353535;
}
.numberings,
.roomlabelsmaller,
.roomlabel {
  font-family: MyriadPro-Regular, sans-serif;
}
.roomlabel {
  font-size: 13px;
}

.cls-24 {
  fill: #abdd84;
}
.flexColumnFlexEndAlign {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.switch-multi-button .sweep-button-item-active {
  background-color: #02305a !important;
}
.switch-multi-button .sweep-button-item {
  color: white;
}
.switch-multi-button,
.switch-multi-button .sweep-button-item {
  border-radius: 20px;
}
.switch-multi-button {
  background-color: lightgray;
}

.switch-multi-button .sweep-button-item {
  color: white !important;
}

.react-datepicker__header,
.react-datepicker__day--selected {
  background-color: #0d6efd;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  color: white;
}

.react-datepicker__day-name,
.react-datepicker__time-name {
  color: white;
}
