.floorBtn:hover {
  background-color: rgb(0, 162, 255) !important;
}

.floorBtn {
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 4px;
  color: white;
  background-color: lightgray;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
}

.floorBtn.selected {
  background-color: #02305a !important;
  color: white;
}

.desk {
  background-color: white;
  height: 50px;
  width: 80px;
  margin: 4px;
}

.occupied {
  fill: #ff5f8f;
}

.selected {
  fill: #02305a;
}

.free {
  fill: #56ff4f;
}

.free:hover {
  stroke-width: 2;
  stroke: #02305a;
}

.cls-2 {
  fill: #424242;
}
